<h3>Employee List</h3>
<table class="table table-bordered">
    <thead class="thead-dark" >
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Designation</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
      
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.location}}</td>
        <td>{{emp.designation}}</td>
        <td>{{emp.salary}}</td> &nbsp;
        <td><button (click)="displayEmp(emp)">Edit</button></td>
      </tr>
     
      </tbody>
      </table>
      <app-employee-details [employee]="selectedEmployee" (employeeChange)="updateEmployeeDetails($event)"></app-employee-details>
